@import "../../sass/variables/colors";

.App {
  text-align: center;

  .header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    &.blackBg {
      background-color: black;
    }

    .logo {
      animation: App-logo-spin infinite 20s linear;
      height: 40vmin;
      pointer-events: none;
    }

    .link {
      color: $react_blue;
    }

    .mobxExample {
      display: flex;
      width: 280px;
      justify-content: space-around;
      margin-top: 20px;

      button {
        padding: 5px;
        font-size: 16px;
      }
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
